.filler{
    height: 10dvh;
    width: 100%;
    /* border: 1px solid red; */
}

.darkbackground{
    background-color: var(--clr-dark);
}

.lightbackground{
    background-color: var(--clr-light);
}

/* .boxshadow{
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
} */