
.thumbnail__item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}



.thumbnail__img{
    object-fit: cover;
    max-width: 100%;
    /* height: auto; */
    vertical-align: middle;
    border-radius: 5px;
    /* transition: transform .2s; */
    cursor: pointer;
    /* transition: all 0.2s 0.1s ease-in-out; */
}

.thumbnail__img:hover{
    transform: scale(1.1);

}

.thumbnail{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.thumbnail_wrappper{
    width: inherit;
    height: inherit;
    background-color: #c5d8c5;
    border-radius: 0 0 60px 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

}


/*  md */
@media (min-width: 768px) {

    .thumbnail__item{
        display: flex;
        flex-direction: row;
    }
    
    .thumbnail__img{
        width: 20dvw;
        height: 60dvh;

        object-fit: cover;
        max-width: 100%;
        vertical-align: middle;
        border-radius: 5px;
    }


    
    
}