/* .Image{
    width: 100vw;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */


.Image_wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../Images/Hero2.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    width: inherit;
}