.card_wrapper{
    margin: auto;
    gap: 20px;
    padding-top: 20px;

}


/*  md */
@media (min-width: 768px) {
    .card_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}